* {
  box-sizing: border-box;
  color: black;
  margin: 0px;
  padding: 0px;
  /* border-style: solid; */
}

body {
    background: #C3A384;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#logo {
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 125%;
  padding-left: 10px;
}

#nav {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  padding: 10px;
}

#mainPhoto {
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 0px 10px;
  font-size: 150%;
  background: #877B66;
}

h2 {
  padding: 0px 10px;
  font-size: 150%;
  background: #877B66;
  display: inline-block;
}

span {
  margin: 7px 20px;
}

.menu li {
  display: flex;
  justify-content: space-between;
}

.ingrediants {
  font-size: 75%;
  margin-left: 50px;
}

.list span {
  margin: 10px 20px 0px 20px;
}

#disclaimer {
  text-align: center;
  margin: 10px 10px 0px 10px;
  font-weight: bold;
  font-style: italic;
}

#iceblended {
  display: flex;
  justify-content: space-around;
}

.sizes {
  width: 152px;
}

.sizes-juice {
  width: 150px;
}

#indexed {
  width: auto;
  height: 150px;
  padding: 5px 0 0 60px;
  /* border: 3px solid red; */
}

#indexed li {
  width: 120px;
  margin: 10px 10px 5px 10px;
  float: left;
  /* border: 1px solid black; */
}

#info {
  background-color: #877B66;
  padding: 10px;
}

#info p {
  margin: 5px 10px;
}

.days {
  font-weight: bold;
}

#info .time {
  margin-left: 20px;
}

#info h3 {
  margin-top: 10px;
}
