* {
  box-sizing: border-box;
  color: black;
  margin: 0px;
  padding: 0px;
  background: #C3A384;
  /* border-style: solid; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #C3A384;
  height: 60px;
}

#logo {
  font-weight: bold;
  font-family: "Times New Roman";
  font-size: 125%;
  padding-left: 10px;
}

#nav {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 125%;
  padding: 10px;
}

#mainPhoto {
  width: 100vw;
}

h1 {
  text-align: center;
  padding: 0px 10px;
  font-size: 150%;
  background: #877B66;
}

h2 {
  padding: 0px 10px;
  font-size: 150%;
  background: #877B66;
  display: inline-block;
}

span {
  margin: 10px 30px;
}

main li {
  display: flex;
  justify-content: space-between;
}

.ingrediants {
  font-size: 75%;
  margin-top:
}
